.container-categorias{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.322), rgba(88, 165, 105, 0.192));
    width: 80%;
}


h1{
    padding-bottom: 0.5em;
    font-size: 1.5em;
    color:rgb(17, 63, 63);
}

.nav-link-add-category{
    background-color:  rgb(27, 153, 153);
    color: white;
    border-radius: 1em;
    text-decoration: none;
    width: 30%;
    padding: 0.8%;
    font-size: 1.2em;
    
}

.nav-link-add-category:hover{
    color: aliceblue;
    text-decoration: none;

}

